{
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "globals": {
        "describe": true,
        "it": true,
        "jest": true,
        "expect": true,
        "beforeEach": true,
        "afterEach": true,
        "before": true,
        "after": true,
        "document": true,
        "window": true,
        "__INITIAL_DATA__": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "flowtype"
    ],
    "rules": {
        "jsx-a11y/label-has-for": [2, {"required": {"some": ["nesting", "id"]}}],
        "function-paren-newline": "off",
        "class-methods-use-this": "off",
        "indent": "off",
        "react/prop-types": 0,
        "import/no-named-as-default": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.stories.js", "**/stories/index.js", "**/*.spec.js", "./scripts/**"]}],
        "no-plusplus": "off",
        "no-tabs": "off",
        "no-underscore-dangle": "off",
        "object-curly-spacing": ["error", "never"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/sort-comp": [0, {}],
        "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".spec.js", ".js"] }],
        "react/no-array-index-key": "off",
        "react/default-props-match-prop-types": "off",
        "flowtype/boolean-style": [
            2,
            "boolean"
        ],
        "flowtype/define-flow-type": 1,
        "flowtype/delimiter-dangle": 0,
        "flowtype/generic-spacing": [
            2,
            "never"
        ],
        "flowtype/no-types-missing-file-annotation": 2,
        "flowtype/no-weak-types": 0,
        "flowtype/require-parameter-type": 0,
        "flowtype/require-return-type": 0,
        "flowtype/require-valid-file-annotation": 0,
        "flowtype/semi": 0,
        "flowtype/space-after-type-colon": [
            2,
            "always"
        ],
        "flowtype/space-before-generic-bracket": [
            2,
            "never"
        ],
        "flowtype/space-before-type-colon": [
            2,
            "never"
        ],
        "flowtype/type-id-match": 0,
        "flowtype/union-intersection-spacing": [
            2,
            "always"
        ],
        "flowtype/use-flow-type": 1,
        "flowtype/valid-syntax": 1,
        "linebreak-style": 0
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": false
        }
    }
}